version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: air-app:latest
    container_name: air-app
    environment:
      NODE_ENV: production
      NEXT_TELEMETRY_DISABLED: "1"
      PORT: "3000"
    ports:
      - "3000:3000"
    restart: unless-stopped
